################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment 1 - Make Change/v15/Browse.VC.opendb
